<?xml version="1.0" encoding="utf-8"?>
<manifest>
    <application>
         <!--uexESurfingRtc use  sdk's remote service -->
        <service android:name="rtc.sdk.impl.SdkService" >
            <intent-filter>
                <action android:name="rtc.sdk.service" />
            </intent-filter>
        </service>
    </application>

    <!-- uexESurfingRtc use -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> 

</manifest>